<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dico Medicale</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--<link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/dicomedical.css') }}">
</head>
<br>
<!--Bar de navigation-->
<!--Navbar-->

           <nav class="navbar navbar-expand-lg bg-primary navbar-dark ">
                <div class="container">
               <a href="/home" class="navbar-brand">Acceuil</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

               <div class="colapse navbar-collapse" id="navmenu">
                  <ul class="navbar-nav ">
                   <li class="nav-item">
                      <a href="/annuaire" class="nav-link">Annuaire</a>
                   </li>
                   <li class="nav-item">
                      <a href="/dicomedical" class="nav-link">Dico Medical</a>
                   </li>
                   <li class="nav-item">
                      <a href="/index" class="nav-link">Votre Sante</a>
                   </li>
                   <li class="nav-item">
                      <a href="/about" class="nav-link">Apropos</a>
                   </li>
                  </ul>

                   <form class="form-inline ">
                       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success my-sm-4 " type="submit">Search</button>
                    </form>

                   <!-- Nav Bar Right -->
                  <ul class="navbar-nav ml-auto ">
                     <li class="nav-item">
                         <span class="nav-link"> <b>{{session['lastname']}}</b></span>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/logout">Deconnecter</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/login">Se connecter</a>
                     </li>
                   </ul>
               </div>
              </div>
           </nav>




<!--Body-->
<section class="bg-info">
    <div class="about-section bg-info">
    <h1><span class="text-warning">DICO MEDICALE</span> </h1>
    <p>PRENEZ VOTRE RENDEZ-VOUS</p>
    <p>Contacter des medecin espialiste pour des consiel</p>
    </div>

    <h2 style="text-align:center"><span class="text-warning">Medecin disponible</span></h2>
    <div class="row m-2">
    <div class="column">
    <div class="card">
      <img class="img-fluid" src="{{url_for('static', filename='images/img_1.png')}}" alt="NGNANG">
      <div class="container">
        <h2>Tamsir NIANG</h2>
        <p class="title">Medecin & pshychologue</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><img src="https://img.icons8.com/color/48/000000/gmail--v1.png"/> niangcontact@gmail.com.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
      <img class="img-fluid" src="{{url_for('static', filename='images/img_2.png')}}" alt="FAYE">
      <div class="container">
        <h2>Ousmane FAYE</h2>
        <p class="title">Medecin</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><img src="https://img.icons8.com/color/48/000000/gmail--v1.png"/> fayecontacte@mail.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
      <img class="img-fluid" src="{{url_for('static', filename='images/img_3.png')}}" alt="NENE">
      <div class="container">
        <h2>Nene SOUARE</h2>
        <p class="title">Medecin</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><img src="https://img.icons8.com/color/48/000000/gmail--v1.png"/> souarecontacte@gmail.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </div>
    </div>
    </div>
</section>

<!--Footer-->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

           <br>
          <br>

          <img src="https://img.icons8.com/color/48/000000/whatsapp--v6.png"/>
          <img src="https://img.icons8.com/color/48/000000/facebook-circled--v1.png"/>
          <img src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
          <img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/>

          <p>&copy; IPD 2021</p>
          <p>groupsoutenance@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
          <br>
          <br>

          <img src="https://img.icons8.com/color/48/000000/whatsapp--v6.png"/>
          <img src="https://img.icons8.com/color/48/000000/facebook-circled--v1.png"/>
          <img src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
          <img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/>

          <p>&copy; IPD 2021</p>
          <p>groupsoutenance@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src = " https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>